@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<p>This is a fictional website. There isn't really anything to know about us, but this page is required in the assignment.</p>

<p>Dreamories is an e-commerce website which specializes in selling pillows! Here you will find the most comfortable pillows for good sleep, nice decor and relieving neck pain!
    Our goal is our customers' satsfaction, and we're sure we deliver!</p>